<div class="social-container">
  <a class="link" href="https://twitter.com/mstke_" target="_blank">
    <div class="icon twitter" [ngClass]="{ 'visible': time > 3 && time < 8 }" [ngStyle]="{'display': time == 0 ? 'none' : 'block'}">
      <div class="media-icon">
      </div>
    </div>
  </a>
  <a class="link" href="https://www.youtube.com/channel/UC8TebP-620HB-izK7Jv_yvQ" target="_blank">
    <div class="icon youtube" [ngClass]="{ 'visible': time > 2 && time < 7 }" [ngStyle]="{'display': time == 0 ? 'none' : 'block'}">
      <div class="media-icon">

      </div>
    </div>
  </a>
  <a class="link" href="https://instagram.com/_mstke" target="_blank">
    <div class="icon instagram" [ngClass]="{ 'visible': time > 1 && time < 6 }" [ngStyle]="{'display': time == 0 ? 'none' : 'block'}">
      <div class="media-icon">

      </div>
    </div>
  </a>
  <a class="link" href="https://last.fm/user/nicklasscharp" target="_blank">
    <div #twitter class="icon lastfm" [ngClass]="{ 'visible': time > 0 && time < 5 }" [ngStyle]="{'display': time == 0 ? 'none' : 'block'}">
      <div class="media-icon">

      </div>
    </div>
  </a>
  <div class="main-button" (click)="toggleOpen()">
    <div class="share-icon" [ngClass]="{ 'hidden': open }"></div>
    <div class="cancel-icon hidden" [ngClass]="{ 'hidden': !open }"></div>
  </div>
</div>