<div class="scrollable" [ngClass]="{ 'full-width': fullPage }">
  <div #parent class="scroll-parent">
    <div #scrollContainer class="scroll-child" (scroll)="onScroll($event)" #hiddenscroll [ngStyle]="{'padding-right.px': hiddenscroll.offsetWidth - hiddenscroll.clientWidth}">
      <ng-content></ng-content>
    </div>
  </div>
  <div #scrollBar class="scroll-bar" [ngClass]="{ 'hidden': scrollHidden }">
    <div class="floater-top" [ngStyle]="{'height': topSize + '%'}"></div>
    <div class="scroll-head" [ngStyle]="{'height': headSize + '%'}" (mousemove)="headDrag($event)" (mousedown)="dragStart($event)">
      <div class="smooth-fade" [ngClass]="{'selected': dragging}">
        <div class="scroll-highlight"></div>
      </div>
    </div>
    <div class="floater-bottom" [ngStyle]="{'height': bottomSize + '%'}"></div>
  </div>
</div>