[submodule "ClassicRender"]
	path = ClassicRender
	url = https://github.com/arduano/Zenith-Classic-Render.git
[submodule "PFARender"]
	path = PFARender
	url = https://github.com/arduano/Zenith-PFA-Render.git
[submodule "FlatRender"]
	path = FlatRender
	url = https://github.com/arduano/Zenith-Flat-Render.git
[submodule "MidiTrailRender"]
	path = MidiTrailRender
	url = https://github.com/arduano/Zenith-MidiTrail-Render.git
