<app-page-scroller>
  <div class="content">
    <div class="content-inner">
      <div class="title">
        <h1>The Developer</h1>
        <p>
          Spending literally thousands of hours on this project <br />to make it
          the best free renderer for you guys
        </p>
        <p></p>
      </div>

      <div class="user-section">
        <app-discord-user
          [pfpURL]="
            'assets/pfp/arduano.png'
          "
          [username]="'Arduano#0481'"
          [link]="'https://www.youtube.com/channel/UCUHiI0qWCflNMmFMkJ0Qg0Q'"
        >
        </app-discord-user>
      </div>
      <div class="title">
        <h1>Translators</h1>
        <p>
          The people who donated their time and knowledge to make this program
          more accessible to people in other countries
        </p>
        <p></p>
      </div>
      <div class="user-section">
        <div class="row">
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/umbry.png'
              "
              [username]="'umbry#6266'"
              [detail]="'Chinese Traditional'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/ooo.png'
              "
              [username]="'ooo 000#3927'"
              [detail]="'Chinese Simplified'"
              [link]="'https://www.youtube.com/channel/UCj5aJdbTvtt3xcJwHoRvHMQ'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/leo.png'
              "
              [username]="'Leo.#0001'"
              [detail]="'Spanish'"
              [link]="'https://www.youtube.com/channel/UCBYK2gv6MrIF1I7SgQZBAxQ'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/alex.png'
              "
              [username]="'AlexUnder#4483'"
              [detail]="'Russian'"
              [link]="'https://www.youtube.com/c/aleksandrverevkin'"
            >
            </app-discord-user>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/dmitry.png'
              "
              [username]="'Dmitry\'s Music#3451'"
              [detail]="'Russian'"
              [link]="'http://youtube.com/dmitrys_music'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/elijah.png'
              "
              [username]="'Elijah#7930'"
              [detail]="'German'"
              [link]="'https://www.youtube.com/channel/UCuGxUIQnpMK2iYyXGI9qUsg'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/jim.png'
              "
              [username]="'jimo#5727'"
              [detail]="'Greek'"
              [link]="'https://www.youtube.com/channel/UCebBBBCMokhPzdIrbGnfamA'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/pipra.png'
              "
              [username]="'PipiraMine#7517'"
              [detail]="'Japanese'"
            >
            </app-discord-user>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/cat.png'
              "
              [username]="'People11 The Cat#3741'"
              [detail]="'Chinese Simplified'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-6">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/luka.png'
              "
              [username]="'💙 Luka IRL Glaceon 💙#5955'"
              [detail]="'French'"
              [link]="'https://www.youtube.com/channel/UChzN0nAxdyQUChsjmJobV-g'"
            >
            </app-discord-user>
          </div>
        </div>
      </div>
      <div class="title">
        <h1>Canary Testers</h1>
        <p>
          Those who helped test the developer versions of the program, reporting
          any bugs and stress testing the program
        </p>
        <p></p>
      </div>
      <div class="user-section">
        <div class="row">
          <div class="col-lg-4">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/umbry.png'
              "
              [username]="'umbry#6266'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-4">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/hung.png'
              "
              [username]="'HÙNG#9820'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-4">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/rappe.png'
              "
              [username]="'RAPPE#9792'"
            >
            </app-discord-user>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/hans.png'
              "
              [username]="'Hans5958#0969'"
              [link]="'https://hans5958.github.io/'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-4">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/lucas.png'
              "
              [username]="'Lucas9810#1017'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-4">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/radon.png'
              "
              [username]="'RadonNebula#1478'"
              [link]="'https://www.youtube.com/channel/UCksnyYEdkjMUXldQtV50Vbg'"
            >
            </app-discord-user>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/cole.png'
              "
              [username]="'AwesomeGamer89#3612'"
              [link]="'https://www.youtube.com/channel/UCWRAmOLWt4CSC8rx2ZmP_0w'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-4">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/floofer.png'
              "
              [username]="'BlackHawk#5896'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-4">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/jim.png'
              "
              [username]="'jimo#5727'"
              [link]="'https://www.youtube.com/channel/UCebBBBCMokhPzdIrbGnfamA'"
            >
            </app-discord-user>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/leo.png'
              "
              [username]="'Leo.#0001'"
              [link]="'https://www.youtube.com/channel/UCBYK2gv6MrIF1I7SgQZBAxQ'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-4">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/musi.png'
              "
              [username]="'MusiMasta#8212'"
              [link]="'http://www.youtube.com/c/MusiMasta'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-4">
            <app-discord-user
              [pfpURL]="
                'assets/pfp/alex.png'
              "
              [username]="'AlexUnder#4483'"
              [link]="'https://www.youtube.com/c/aleksandrverevkin'"
            >
            </app-discord-user>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-page-scroller>
