<app-page-scroller>
  <div class="content">
    <div class="content-inner">
      <div class="title">
        <h1>The Developer</h1>
        <p>
          Spending literally thousands of hours on this project <br />to make it
          the best free renderer for you guys
        </p>
        <p></p>
      </div>

      <div class="user-section">
        <app-discord-user
          [pfpURL]="
            'https://cdn.discordapp.com/avatars/242516597170765824/a_81f01a4b1c999a754101449102759f51.png?size=256'
          "
          [username]="'Arduano#0481'"
          [link]="'https://www.youtube.com/channel/UCUHiI0qWCflNMmFMkJ0Qg0Q'"
        >
        </app-discord-user>
      </div>
      <div class="title">
        <h1>Translators</h1>
        <p>
          The people who donated their time and knowledge to make this program
          more accessible to people in other countries
        </p>
        <p></p>
      </div>
      <div class="user-section">
        <div class="row">
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/140381387420205056/228341272e8a995810210bd7130ae64d.png?size=256'
              "
              [username]="'umbry#6266'"
              [detail]="'Chinese Traditional'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/226495579272773633/208c5d144ef8cb847f82d6b6f2d4a0bb.png?size=256'
              "
              [username]="'ooo 000#3927'"
              [detail]="'Chinese Simplified'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/418835305085403137/2f991460f070aeba553f4a34944a140c.png?size=256'
              "
              [username]="'Leo.#0001'"
              [detail]="'Spanish'"
              [link]="'https://www.youtube.com/channel/UCBYK2gv6MrIF1I7SgQZBAxQ'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/204447710638637056/d87fda29d54f36e153510dc555feceb0.png?size=256'
              "
              [username]="'AlexUnder#4483'"
              [detail]="'Russian'"
              [link]="'https://www.youtube.com/c/aleksandrverevkin'"
            >
            </app-discord-user>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/199591705446580224/c1a214529204cfb3a4eb2278325d5dc1.png?size=256'
              "
              [username]="'Dmitry\'s Music#3451'"
              [detail]="'Russian'"
              [link]="'http://youtube.com/dmitrys_music'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/344629561641926658/d8fe4ca86547e5a16e449e8da6836101.png?size=256'
              "
              [username]="'Elijah#7930'"
              [detail]="'German (WIP)'"
              [link]="'https://www.youtube.com/channel/UCuGxUIQnpMK2iYyXGI9qUsg'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/328576330469867521/cd10b51bd9ef5e6e7fdc5ba2a085bc7c.png?size=256'
              "
              [username]="'jimo#5727'"
              [detail]="'Greek'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/244788488782872576/7e31138175db3829fc5f250aa0baa0cf.png?size=256'
              "
              [username]="'PipiraMine#7517'"
              [detail]="'Japanese'"
            >
            </app-discord-user>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/409208995010838549/a46c01726e592e080221da87c983a89f.png?size=256'
              "
              [username]="'People11 The Cat#3741'"
              [detail]="'Chinese Simplified'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-6">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/257161280828342272/9aa9f4e8b78ca9fb81131a22e9082433.png?size=256'
              "
              [username]="'💙 Luka IRL Glaceon 💙#5955'"
              [detail]="'French'"
              [link]="'https://www.youtube.com/channel/UChzN0nAxdyQUChsjmJobV-g'"
            >
            </app-discord-user>
          </div>
        </div>
      </div>
      <div class="title">
        <h1>Canary Testers</h1>
        <p>
          Those who helped test the developer versions of the program, reporting
          any bugs and stress testing the program
        </p>
        <p></p>
      </div>
      <div class="user-section">
        <div class="row">
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/140381387420205056/228341272e8a995810210bd7130ae64d.png?size=256'
              "
              [username]="'umbry#6266'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/375649219144581122/7d375bcabf250fd36108c10fef2850f4.png?size=256'
              "
              [username]="'HÙNG#9820'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/236980363677794304/9640feb996f1c46e0e63f0bcabb466b7.png?size=256'
              "
              [username]="'RAPPE#9792'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/204447710638637056/d87fda29d54f36e153510dc555feceb0.png?size=256'
              "
              [username]="'AlexUnder#4483'"
              [link]="'https://www.youtube.com/c/aleksandrverevkin'"
            >
            </app-discord-user>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/279855717203050496/17ddf3bd3ae3cab998cfb29b5156f929.png?size=256'
              "
              [username]="'Hans5958#0969'"
              [link]="'https://hans5958.github.io/'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/226495579272773633/208c5d144ef8cb847f82d6b6f2d4a0bb.png?size=256'
              "
              [username]="'ooo 000#3927'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/450678937253838853/3c5760891993b92ea82d068f912e38e1.png?size=256'
              "
              [username]="'Lucas9810#1017'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-3">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/259136963439755265/3177bfe61d2656896dd0cc412cb54343.png?size=256'
              "
              [username]="'RadonNebula#1478'"
              [link]="'https://www.youtube.com/channel/UCksnyYEdkjMUXldQtV50Vbg'"
            >
            </app-discord-user>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/470746784080068622/d955b2574aedd9ee9f8cf311573c11a1.png?size=256'
              "
              [username]="'AwesomeGamer89#3612'"
              [link]="'https://www.youtube.com/channel/UCWRAmOLWt4CSC8rx2ZmP_0w'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-4">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/185933514364026880/0dd8e8c8aba0b9e2c600f8df3000fb37.png?size=256'
              "
              [username]="'BlackHawk#5896'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-4">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/328576330469867521/cd10b51bd9ef5e6e7fdc5ba2a085bc7c.png?size=256'
              "
              [username]="'jimo#5727'"
            >
            </app-discord-user>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/418835305085403137/2f991460f070aeba553f4a34944a140c.png?size=256'
              "
              [username]="'Leo.#0001'"
              [link]="'https://www.youtube.com/channel/UCBYK2gv6MrIF1I7SgQZBAxQ'"
            >
            </app-discord-user>
          </div>
          <div class="col-lg-6">
            <app-discord-user
              [pfpURL]="
                'https://cdn.discordapp.com/avatars/219325974464954368/293606042855ee85c1adca0100270926.png?size=256'
              "
              [username]="'MusiMasta#8212'"
              [link]="'http://www.youtube.com/c/MusiMasta'"
            >
            </app-discord-user>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-page-scroller>
