.user-base{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-size: 20px;
  color: #7289da;
  margin: 0 15px;
  white-space: nowrap;
  cursor: default;
  font-size: 24px;
  user-select: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

img{
  max-width: 70px;
  max-height: 70px;
  border-radius: 50px;
  user-select: none;
  box-shadow: 0px 0px 20px black;
}

.username{
  margin-left: 10px;
  user-select: none;
}
