<app-page-scroller>
  <div class="content">
    <div class="content-inner">
      <div class="title">
        <h1>Plugins</h1>
        <p>
          As a general rule, all custom and original plugins are completely free
          and open for anyone to use. However exact clones (PFA, miditrail,
          etc.) will be slightly modified to make them distinct from the
          original. I might release the exact looking copies, however BMT
          members are highly against them spreading anywhere.
        </p>
        <p>
          It is possible for anyone else who knows C# to make a plugin
          themselves as well. Feel free to contact me on my dev server!
        </p>
        <p></p>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <app-plugin
            [imgUrl]="'assets/plugins/classic.png'"
            [name]="'Classic'"
          >
            <p>
              The original render engine for Zenith. Any new render features in
              Zenith will always be supported first by this plugin.
            </p>
            <p class="how-to-get public">Included with the program</p>
          </app-plugin>
          <app-plugin [imgUrl]="'assets/plugins/pfa.png'" [name]="'PFA+'">
            <p>
              An almost identical visual clone of the original program, with
              support for some exclusive features, including: same width notes,
              tick based rendering, and Zenith's classic gradient and
              transparency support. Original options like same width notes and
              changing the bar colour are also present. Some extra
              customisations were also included!
            </p>
            <p class="how-to-get public">Included with the program</p>
          </app-plugin>
        </div>
        <div class="col-lg-6">
          <app-plugin
            [imgUrl]="'assets/plugins/miditrail.png'"
            [name]="'MidiTrail+'"
          >
            <p>
              My most ambitious plugin yet. Taking inspiration from the original
              MidiTrail program, and going far above and beyond, adding support
              for many requested features, uncluding: Custom ripple (aura)
              images, 3d box note support and different width notes. This all comes
              with Zenith's classic support of transparent notes and note
              gradients.
            </p>
            <p class="how-to-get public">Included with the program</p>
          </app-plugin>
          <app-plugin [imgUrl]="'assets/plugins/flat.png'" [name]="'Flat'">
            <p>
              Very similar to the classic plugin, and more of a proof of concept
              than anything. Basically the classic version except without
              shading.
            </p>
            <p class="how-to-get public">Included with the program</p>
          </app-plugin>
        </div>
      </div>
    </div>
  </div>
</app-page-scroller>
